 <div class="d-flex justify-content-right">
    <h1><%= current_user.username %>'s students:</h1>
    <ol class="list-group-flush">
    <% @students.each do |s| %>
        <li class="list-group-item"><%= link_to s.name, student_path(s.id) %><br><br>
        <%= link_to "Edit Student", edit_student_path(s) %><br>
        <%= button_to "Delete Student", {controller: :students, action: :destroy, id: s.id}, method: :delete, data: {confirm: "Action cannot be undone, are you sure?"} %><br>
        </li>

    <% end %>
    </ol>
</div>

<div class="d-flex  justify-content-center">
        <%= link_to "back to #{current_user.username}'s Classroom", user_path(current_user) %>
</div>
<div class="d-flex  justify-content-center">
        <%= link_to "Create new course with registered student to add to roster", new_user_course_path(current_user) %>
</div>