<h1>Sign Up</h1>
<%= form_with model: @user do |f| %>
    <h3>Username: <%= f.text_field :username %></h3>
    <h3>Password: <%= f.password_field :password %></h3>
  <%= f.submit "Create Teacher" %>
<% end %>

<h2>OR</h2>

<%= link_to "Sign Up with Google", '/auth/google_oauth2', method: :post %>