<div class="d-flex  justify-content-center">
    <h1>Hello <%= @user.username %>!</h1>
</div>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
        <div class="d-flex  justify-content-center">
        <div class="alert alert-danger">
        <%= msg %>
        </div>
        </div>
    <% end %>
<% end %>
<div class="container">
    <div class="d-flex  justify-content-center">
        <h3>Your Courses:</h3>
    </div>
        <div class="d-flex  justify-content-center">
            <%= link_to "Create new course  ", new_user_course_path(@user) %>
        </div>
        <div class="d-flex  justify-content-center">
            <%= link_to "Edit/Delete Courses", user_courses_path(@user) %>
        </div>
    <div class="d-flex  justify-content-center">
        <ul class="list-group">
        <% @user.courses.each do |course| %>
            <li class="list-group-item"><%= link_to course.name, course_path(course) %><br>
            <%= course.description %><br> Student: <%= course.student.name %><br>
            </li>
        <% end %>
        <br>
        </ul>
    </div>
        <div class="d-flex  justify-content-center">
            <h6>You must <%= link_to "REGISTER STUDENT", new_student_path %> before they can be added to a course!</h6>
        </div>

    <br>
    <div class="d-flex  justify-content-center">
        <h3>Your Students:</h3>
    </div>
    <div class="d-flex  justify-content-center">
        <%= link_to "Create New Student", new_student_path %><br>
    </div>
    <div class="d-flex  justify-content-center">
        <%= link_to "Edit/Delete Students", students_path %>
    </div>
    <div class="d-flex  justify-content-center">
        <ul class="list-group">
        <% @user.students.uniq.each do |student| %>
            <li class="list-group-item"><%= link_to student.name, student_path(student) %> <br> Grade: <%= student.grade %></li>
        <% end %>
        </ul>
    </div>
</div>