<h1>Hello <%= @user.username %>!</h1>

<h3>Your Courses:</h3>
<ul>
<% @user.courses.each do |course| %>
    <li><%= link_to course.name, course_path(course) %><br>
    <%= course.description %><br> Student: <%= course.student.name %><br>
    <br><%= button_to "Delete Course", {controller: :courses, action: :destroy, id: course.id}, method: :delete %><br></li>
<% end %>
</ul>
<%= link_to "Create new course", new_user_course_path(@user) %>

<h3>Your Students:</h3>
<ul>
<% @user.students.uniq.each do |student| %>
    <li><%= link_to student.name, student_path(student) %> <br> Grade: <%= student.grade %></li>
<% end %>
</ul>
<%= link_to "Create New Student", new_user_student_path(@user) %>
<%= link_to "Edit/Delete Students", user_students_path(@user) %>