<div class="d-flex  justify-content-center">
    <h1>Hello <%= @user.username %>!</h1>
</div>
<br>
<br>
<br>
<% if flash.any? %>
    <% flash.each do |type, msg| %>
        <div class="d-flex  justify-content-center">
        <div class="alert alert-danger">
        <%= msg %>
        </div>
        </div>
    <% end %>
<% end %>
<div class="container">
        
    <%= render partial: 'users/user_students' %>

    <br>

        <div class="d-flex  justify-content-center">
            <h6>You must <%= link_to "REGISTER STUDENT", new_student_path %> before they can be added to a course. <br> Student must be <%= link_to "enrolled in a course", new_course_path %> to appear in your Student Roster.</h6>
        </div>

    <br>
    
    <%= render partial: 'users/user_courses' %>
</div>