<% if flash.any? %>
    <% flash.each do |type, msg| %>
        <div class="alert alert-danger">
        <%= msg %>
        </div>
    <% end %>
<% end %>

<%= form_with model: @lesson, local: true do |f| %>
    <% if @lesson.errors[:title].present? %>
        <h6><%= f.text_field :title, placeholder: "Lesson must have title.", class: "form-group border border-danger rounded" %></h6>
    <% else %>
        <h6><%= f.text_field :title, placeholder: "Give your lesson a title." %></h6>
    <% end %>
    <h6><%= f.text_area :plan, placeholder: "What's the plan" %></h6>
    <%= f.hidden_field :course_id %>
  <%= f.submit %>
<% end %> 