<div class="d-flex  justify-content-center">
    <h1>Your Courses:</h1>
</div>
<div class="d-flex  justify-content-center">
    <%= form_tag("/courses", method: "get") do %>
        <%= select_tag "student_id", options_from_collection_for_select(current_user.students.uniq, :id, :name), include_blank: true %>
        <%= hidden_field_tag "user_id", current_user.id %>
        <%= submit_tag "Filter" %>
    <% end %>
</div>

<div class="d-flex  justify-content-center">
<ul class="list-group">
    <% @courses.each do |course| %>
        <li class="list-group-item">
        <%= link_to course.name, course_path(course) %><br>
        <%= course.description %><br> Student: <%= course.student.name %><br><br>
        <%= link_to "Edit Course", edit_user_course_path(current_user, course) %>
        <%= button_to "Delete Course", {controller: :courses, action: :destroy, id: course.id}, method: :delete, data: {confirm: "Action cannot be undone, are you sure?"} %>
        <br>
        </li>
    <% end %>
</ul>
</div>

<div class="d-flex  justify-content-center">
        <%= link_to "#{current_user.username}'s Classroom", user_path(current_user) %>
</div>

