<h1>New Course</h1>

<%= @course.errors.messages %>

<%= form_with model: @course do |f| %>
    <h3>Name: <%= f.text_field :name %></h3>
    <h3>Description: <%= f.text_field :description %></h3>
    <h3>Student: <%= f.select :student_id, options_from_collection_for_select(User.find(session[:user_id]).students.uniq, :id, :name), include_blank: "Select Student" %></h3>
    <% if !session[:user_id] %>
        <h3>User ID: <%= f.text_field :user_id %></h3>
    <% end %>
    <%= f.hidden_field :user_id %>
  <%= f.submit "Create Course" %>
<% end %>