<!DOCTYPE html>
<html>
  <head>
    <title>Teacher's Pet</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag asset_path('science.png') %>
  </head>

  <body>
  <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          
        <a class="navbar-brand" href="<%= root_url %>">Home</a>
        <a class="navbar-brand" href="<%= session[:user_id] ? user_path(User.find(session[:user_id])) : new_user_path %>">
        <%= session[:user_id] ? "#{User.find(session[:user_id]).username}'s Profile" : "Sign Up" %>
        </a>
        <a class="navbar-brand" href="<%= session[:user_id] ? signout_path : signin_path %>" id="<%= session[:user_id] ? "Log Out" : "Log In" %>">
        <%= session[:user_id] ? "Log Out" : "Login" %>
        </a>

        </div>
        
      </div>
    </div>

    <%= yield %>
  </body>
</html>
